version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "8080:8080"
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

